# Copyright 2022 Canonical Ltd.
# See LICENSE file for licensing details.
name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  schedule:
    - cron: '53 0 * * *' # Daily at 00:53 UTC
  # Triggered on push to branch "main" by .github/workflows/release.yaml
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install tox & poetry
        run: |
          pipx install tox
          pipx install poetry
      - name: Run linters
        run: tox run -e lint

  lib-check:               
    name: Check libraries  
    runs-on: ubuntu-latest
    timeout-minutes: 5     
    steps:                 
      - name: Checkout     
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   
      - run: |
          # Workaround for https://github.com/canonical/charmcraft/issues/1389#issuecomment-1880921728
          touch requirements.txt          
      - name: Check libs   
        uses: canonical/charming-actions/check-libraries@2.6.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          use-labels: false
          fail-build: ${{ github.event_name == 'pull_request' }}

  unit-test:
    name: Unit test charm
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install tox & poetry
        run: |
          pipx install tox
          pipx install poetry
      - name: Run tests
        run: tox run -e unit

  build:
    strategy:
      matrix:
        path:
          - .
          - tests/integration/application-charm
    name: Build charm
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v22.0.0
    with:
      path-to-charm-directory: ${{ matrix.path }}
      cache: false
      # artifact-prefix: osd-test-charm

  integration-test:
    strategy:
      matrix:
        juju:
          # All runs
          - agent: 3.5.3 # renovate: juju-agent-pin-minor
            allure_report: true
          
          # This runs only on scheduled runs, DPW 21 specifics (scheduled + 3.6/X)
          - snap_channel: 3.6/beta
            allure_report: false
    
    name: Integration test charm | ${{ matrix.juju.agent || matrix.juju.snap_channel }}
    
    needs:
      - lint
      - unit-test
      - build
    uses: canonical/data-platform-workflows/.github/workflows/integration_test_charm.yaml@v22.0.0
    with:
      artifact-prefix:  packed-charm-cache-false
      cloud: lxd
      juju-agent-version: ${{ matrix.juju.agent }}
      juju-snap-channel: ${{ matrix.juju.snap_channel }}
      _beta_allure_report: ${{ matrix.juju.allure_report }}
    secrets:
      # GitHub appears to redact each line of a multi-line secret
      # Avoid putting `{` or `}` on a line by itself so that it doesn't get redacted in logs
      integration-test: |
        { "AWS_ACCESS_KEY": "${{ secrets.AWS_ACCESS_KEY }}",
          "AWS_SECRET_KEY": "${{ secrets.AWS_SECRET_KEY }}",
          "GCP_ACCESS_KEY": "${{ secrets.GCP_ACCESS_KEY }}",
          "GCP_SECRET_KEY": "${{ secrets.GCP_SECRET_KEY }}",
          "GCP_SERVICE_ACCOUNT": "${{ secrets.GCP_SERVICE_ACCOUNT }}", }
    permissions:
      contents: write
